<div class="px-6 pt-6 lg:px-8">
    <nav class="flex flex-row-reverse items-center justify-between" aria-label="Global">
      <div class="flex lg:hidden">
        <button  (click)="AddData()"  type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span  class="sr-only">Open main menu</span>
          <!-- Heroicon name: outline/bars-3 -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden fixed lg:flex lg:gap-x-12">
        <a href="#inicio" *ngIf="ph==0" class="text-sm no-underline font-semibold leading-6 text-gray-900">Inicio</a>
        <a href="#inicio" *ngIf="ph!=0" class="text-sm font-semibold leading-6 text-gray-900">Inicio</a>

        <a href="#proyectos" *ngIf="ph==1" class="text-sm no-underline font-semibold leading-6 text-gray-900">Mis proyectos</a>
        <a href="#proyectos" *ngIf="ph!=1" class="text-sm font-semibold leading-6 text-gray-900">Mis proyectos</a>

        <a href="#contacto" *ngIf="ph==2" class="text-sm no-underline font-semibold leading-6 text-gray-900">Contacto</a>
        <a href="#contacto" *ngIf="ph!=2" class="text-sm font-semibold leading-6 text-gray-900">Contacto</a>

      </div>
      
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div role="dialog"  aria-modal="true">
      <div focus="true" *ngIf="show" class="fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 lg:hidden">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
          </a>
          <button (click)="AddData()" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only" >Close menu</span>
            <!-- Heroicon name: outline/x-mark -->
            <svg   class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path  stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a (click)="AddData()" href="" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Inicio</a>

              <a (click)="AddData()" href="#proyectos" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Mis proyectos</a>

              <a (click)="AddData()" href="#contacto" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Contacto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
