<div 
  id="contact"
  class="bg-backgroundLabel shadow" 
  style="background-image:radial-gradient(circle, rgba(0,0,0,0.4206057422969187) 100%, rgba(0,0,0,1) 100%), url(../../../assets/footer.jpg)"
>
  <div class="flex flex-col gap-6 p-6 px-14 text-textColorLabel">
      <div >
        <div class="text-3xl text-white">{{ "contact" | translate}}</div>
        <div class="mt-1 max-w-2xl text-sm text-textColorLabel">{{ "theseAreMyContactPages" | translate}}</div>
      </div>
      <div class="flex flex-col gap-6">
        <a class="flex items-center gap-3 group w-fit" href="https://www.linkedin.com/in/jesus-david-osorio-jimenez/" target="_blank">
          <app-iconsvg iconname="linkedin" />
          <div class="text-sm">
            <div class="text-textColorLabel group-hover:opacity-60">in/jesus-david-osorio-jimenez</div>
            <div class="font-semibold text-white group-hover:opacity-60">LinkedIn</div>
          </div>
        </a>
        <a class="flex items-center gap-3 group w-fit" href="https://github.com/JesusOsorioJ" target="_blank">
          <app-iconsvg iconname="github" />
          <div class="text-sm">
            <div class="text-textColorLabel group-hover:opacity-60">github.com/JesusOsorioJ</div>
            <div class="font-semibold text-white group-hover:opacity-60">Github</div>
          </div>
        </a>
        <a class="flex items-center gap-3 group w-fit" href="mailto:jesusosoriojimenez@outlook.com">
          <app-iconsvg iconname="email" />
          <div class="text-sm">
            <div class="text-textColorLabel group-hover:opacity-60">jesusosoriojimenez&#64;outlook.com </div>
            <div class="font-semibold text-white group-hover:opacity-60">{{ "email" | translate}}</div>
          </div>
        </a>
        <a class="flex items-center gap-3 group w-fit" href="https://wa.me/573174526421" target="_blank">
          <app-iconsvg iconname="phone" />
          <div class="text-sm">
            <div class="text-textColorLabel group-hover:opacity-60">+57 317 452 6421</div>
            <div class="font-semibold text-white group-hover:opacity-60">{{ "phone" | translate}}</div>
          </div>
        </a>
      </div>
  </div>
</div>


