<div  id="proyectos" class=" bg-[#0a192f] ">
  <div class="mx-auto  max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-10 sm:py-10 lg:max-w-none lg:py-10">
      <p class="text-2xl font-bold text-[#D3D3D3]">Mis proyectos</p>
      <form class="example-form" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> Filtrar</mat-label>
          <input type="text"
                 placeholder="Seleccionar"
                 aria-label="Herramientas"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto" (keydown.enter)="onSubmit()">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" on>
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <div *ngIf="data.length<5" class="text-small text-white">Filtrado por {{valueObjet1}}</div>
      <div id="target1" class="mt-6 space-y-12 lg:grid lg:grid-cols-4 lg:gap-6 lg:space-y-0 ">
        <div  id="target" *ngFor="let date of data" class="group relative">
          <a href="details/{{date.url}}" class="relative items-end no-underline w-full overflow-hidden 
           group block sm:aspect-w-2 sm:aspect-h-1 h-64 lg:aspect-w-1 lg:aspect-h-1">
             <div class="absolute bottom-0 left-0 flex flex-col 
               p-2 bg-[#0a192f] opacity-80 absolute group-hover:flex z-10 w-full 
               translate-y-[43px] duration-700 group-hover:translate-y-0">
                <p class="text-white text-lg font-semibold">{{date.name}}</p>
                
              <div class="flex flex-row">
                <!-- add ng-container -->
              <img  *ngIf="date.herramientas.front[0]!.length!=0"class="mx-2 rounded-full h-7 w-auto sm:h-6" src="../../../assets/icons/{{date.herramientas.front[0]}}.JPG" alt=""> 
              <img  *ngIf="date.herramientas.front[0]!.length!=0"class="mx-2 rounded-full h-7 w-auto sm:h-6" src="../../../assets/icons/{{date.herramientas.front[1]}}.JPG" alt=""> 
              <img *ngIf="date.herramientas.back[0]!.length!=0" class="mx-2 rounded-full h-7 w-auto sm:h-6" src="../../../assets/icons/{{date.herramientas.back[0]}}.JPG" alt=""> 
              <img  *ngIf="date.herramientas.back[0]!.length!=0" class="mx-2 rounded-full h-7 w-auto sm:h-6" src="../../../assets/icons/{{date.herramientas.back[1]}}.JPG" alt=""> 
              <img  *ngIf="date.herramientas.database[0]!.length!=0"class="mx-2 rounded-full h-7 w-auto sm:h-6" src="../../../assets/icons/{{date.herramientas.database[0]}}.JPG" alt=""> 
            </div>
          
            </div>
            <img id="target" class="blur-lg h-full  bg-auto bg-no-repeat bg-center" src="../../../assets/photo/{{date.url}}/{{date.imageswebpages[0].name}}.png" 
            style="filter: opacity(100%)">
          </a>
      </div>
    </div>
  </div>
</div>
</div>