<div id="proyects">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-10 sm:py-10 lg:max-w-none lg:py-10">
      <p class="text-4xl">{{ "myProjects" | translate }}</p>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{ "filter" | translate }}</mat-label>
          <input
            type="text"
            [attr.placeholder]="'filter' | translate"
            aria-label="Herramientas"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (keydown.enter)="onSubmit()"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
              on
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <div *ngIf="data.length < 5" class="text-small">
        {{ "filteredBy" | translate }} {{ valueObjet1 }}
      </div>
      <div
        id="target1"
        class="mt-6 flex flex-wrap justify-around gap-6"
      >
        <app-target *ngFor="let date of paginatedData" [date]="date" #proyecttarget />
      </div>
      <div class="flex justify-center mt-8 items-center">
        <button class="p-2 border rounded-md capitalize hover:scale-105 disabled:opacity-50 disabled:scale-100" mat-button (click)="prevPage()" [disabled]="currentPage === 1">{{ "previous" | translate }}</button>
        <span class="mx-4"> {{ "page" | translate }} {{ currentPage }} / {{ totalPages }}</span>
        <button class="p-2 border rounded-md capitalize hover:scale-105 disabled:opacity-50 disabled:scale-100" mat-button (click)="nextPage()" [disabled]="currentPage === totalPages">{{ "next" | translate }}</button>
      </div>
    </div>
  </div>
</div>
