<main id="experience" class="flex flex-col lg:flex-row pb-40 px-10 gap-20  ">
  <div class="flex flex-col item-center">
    <div class="text-4xl py-2">{{ "workExperience" | translate}}  </div>
    <div class="text-lg font-bold text-textColorTitle">Full Stack JavaScript</div>
    <div class="font-bold">Disruptive Studio, Guadalajara, Mexico</div>
    <div>{{ "disruptiveTime" | translate }}</div>
    <div class="py-2 flex flex-col gap-1">
      <div class="font-bold text-lg">E-Learning</div>
      <div class="flex item-start gap-1">
        <div class="font-bold">•{{ "description" | translate}}:</div>
        <div>{{ "elearningDescription" | translate}}  </div>
      </div>
      <div>
        <div class="font-bold">•{{ "responsibilities" | translate}}:</div>
        <div class="pl-2">{{ "elearningResponsibilities1" | translate}}  </div>
        <div class="pl-2">{{ "elearningResponsibilities2" | translate}}  </div>
        <div class="pl-2">{{ "elearningResponsibilities3" | translate}}  </div>
        <div class="pl-2">{{ "elearningResponsibilities4" | translate}}  </div>
      </div>
      <div class="flex item-center gap-1">
        <div class="font-bold">•{{ "technologies" | translate}}: </div>
        <div>Typescript, Prisma, PostgreSQL, Node.js, Vite, AWS, Docker, Socket.io.</div>
      </div>
    </div>
    <div class="py-2 flex flex-col gap-1">
      <div class="font-bold text-lg">Backoffice</div>
      <div class="flex item-start gap-1">
        <div class="font-bold">•{{ "description" | translate}}:</div>
        <div>{{ "backofficeDescription" | translate}}  </div>
      </div>
      <div class="font-bold">•{{ "responsibilities" | translate}}:</div>
      <div>
        <div class="pl-2">{{ "backofficeResponsibilities1" | translate}}  </div>
        <div class="pl-2">{{ "backofficeResponsibilities2" | translate}}  </div>
        <div class="pl-2">{{ "backofficeResponsibilities3" | translate}}  </div>
        <div class="pl-2">{{ "backofficeResponsibilities4" | translate}}  </div>
      </div>
      <div class="flex item-center gap-1">
        <div class="font-bold">•{{ "technologies" | translate}}: </div>
        <div>JavaScript, Node.js, Next.js, MongoDB (Mongoose), Websokect, JSDoc, React Hook Form.</div>
      </div>
    </div>

  </div>

  <div class="flex flex-col item-center">
    <div class="text-4xl py-2">{{ "academicTraining" | translate}}</div>
    <div class="flex flex-col gap-4">
      <div>
        <div class="text-lg font-bold text-textColorTitle">• Full Stack JavaScript</div>
        <div class="font-bold">Make it real (bootcamp), Medellín, Colombia.</div>
        <div>{{ "makeItRealTime" | translate }}</div>
      </div>
      <div>
        <div class="text-lg font-bold text-textColorTitle">• Web developer</div>
        <div class="font-bold">MisionTIC 2023, Universidad del norte, Barranquilla, Colombia.</div>
        <div>{{ "misionTICTime" | translate }}</div>
        <div class="flex item-center gap-1">
          <div class="font-bold">{{ "technologies" | translate}}: </div>
          <div>Python, Java, GitHub, SQLite, HTML, Flask.</div>
        </div>
      </div>
      <div>
        <div class="text-lg font-bold text-textColorTitle">• {{"chemicalEngineer" | translate}}</div>
        <div class="font-bold">Universidad de Cartagena, Cartagena, Colombia.</div>
        <div>{{ "universityTime" | translate }}</div>
        <div>{{"researchGroup" | translate}}</div>
      </div>

      <div class="mt-10 flex items-center justify-center gap-6 text-white font-semibold">
        <button (click)="downloadPDF('es')" class="flex px-5 h-11 items-center justify-center rounded-md bg-indigo-400  hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          {{ "downloadResumeSpanish" | translate}}
        </button>
        <button (click)="downloadPDF('en')" class="flex px-5 h-11 items-center justify-center rounded-md bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          {{ "downloadResumeEnglish" | translate}}
        </button>
      </div>
  </div>
  </div>
</main>


