#landing{
    background-color: #0a192f;
    background-color: rgb(94, 142, 213);
    color:#0a192f
    #8892b0
    #000430
    #64ffda
    #8892b0
    #ccd6f6

    white
    #D3D3D3
    #778899
    grey
    black

    #ccd6f6
    #a8b2d1
    #495670
    #233554
    #0a192f
    color:inherit
    
}