<main class="flex justify-center items-center h-screen">
  <div id="parrafonombre" class="relative py-16 px-6 lg:px-8 lg:py-0">
    <div class="mx-auto max-w-2xl ">
      <div class="text-center">
        <p id="minombre" class="mt-6 text-base font-mono leading-8 ">Hola, mi nombre es</p>
        <div class="flex flex-row justify-center " id="names1">
        <p *ngFor="let letter of name" id="names" class="italic justify-content text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl lg:text-6xl">{{letter}}</p></div>
        <div  class="mt-6 flex flew-row flex-wrap  justify-center">
         <div *ngFor="let palabra of parrafo;index as i">
            <p  *ngIf="(i+1)%2==0" id="palabra1" class="pr-1 mb-0 text-lg leading-8">{{palabra}} </p>
            <p  *ngIf="(i+0)%2==0" id="palabra2" class="pr-1 mb-0 text-lg leading-8">{{palabra}} </p>
          </div></div>
        
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a  id="contactobtn" href="#proyectos" class="rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Mis proyectos</a>
          <a  id="contactobtn" href="#contacto" class="text-base rounded-md  px-3.5 py-1.5 font-semibold leading-7 text-gray-900 bg-[#ccd6f6]" >Contacto <span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
    
  </div>
</main>
