
<!-- <div class="font-mono flex flex-row hidden "  id="names1">
  <p class="text-4xl lg:text-6xl" id="names" >J</p>
  <p class="text-4xl lg:text-6xl" id="names">e</p>
  <p class="text-4xl lg:text-6xl" id="names">s</p>
  <p class="text-4xl lg:text-6xl" id="names">u</p>
  <p class="text-4xl lg:text-6xl" id="names">s</p>
  <p class="px-2" > </p>
  <p class="text-4xl lg:text-6xl" id="names">O</p>
  <p class="text-4xl lg:text-6xl" id="names">s</p>
  <p class="text-4xl lg:text-6xl" id="names">o</p>
  <p class="text-4xl lg:text-6xl" id="names">r</p>
  <p class="text-4xl lg:text-6xl" id="names">i</p>
  <p class="text-4xl lg:text-6xl" id="names" name="">o</p>  
</div> -->
<div (window:scroll)="onScroll()" id="home" class="snap-y scroll-smooth scroll-bar lg:h-screen ">



<div id="landing" class="h-screen snap-start isolate ">
  
  <app-header></app-header>

<svg  id="svg" width="10vh" height="10vh" fill="#87CEFA">
  <circle id="svg1"  cx="50" cy="50" r="100vh"  />
</svg>

  <main>
    <div class="relative sm:py-16 px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-20 sm:py-20 lg:py-20">
        <div class="text-center">
          <p class="mt-6 text-base font-mono text-blue-600/100 leading-8 text-gray-450">Hola, mi nombre es</p>
          <div class="flex flex-row " id="names1">
          <h1 *ngFor="let letter of name" id="names" class="justify-content text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl lg:text-6xl">{{letter}}</h1></div>
          <div  class="mt-6 flex flew-row flex-wrap  justify-center">
           <div *ngFor="let palabra of parrafo;index as i">
              <p  *ngIf="(i+3)%4==0" id="palabra1" class=" mr-1 mb-0 text-lg leading-8 ">{{palabra}} </p>
              <p  *ngIf="(i+2)%4==0" id="palabra2" class=" mr-1 mb-0 text-lg leading-8 ">{{palabra}} </p>
              <p  *ngIf="(i+1)%4==0" id="palabra3" class=" mr-1 mb-0 text-lg leading-8 ">{{palabra}} </p>
              <p  *ngIf="(i+0)%4==0" id="palabra4" class=" mr-1 mb-0 text-lg leading-8 ">{{palabra}} </p>
            </div></div>
          
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a  id="topLine" href="#proyectos" class="rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              Mis proyectos</a>
            <a href="#contacto" class="text-base font-semibold leading-7 text-gray-900">Contacto <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
      
    </div>
  </main>
</div>
<div  id="proyectos" class="lg:h-screen scroll-smooth snap-start bg-gray-100">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-10 sm:py-10 lg:max-w-none lg:py-10">
      <h2 class="text-2xl font-bold text-gray-900">Mis proyectos</h2>

      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div  *ngFor="let date of data" class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <img src="../../../assets/photo/{{date.url}}/{{date.imageswebpages[0].name}}.png" class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="details/{{date.url}}">
              <span class="absolute inset-0"></span>
              {{date.name}}
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">
            {{date.webpage}}</p>
        </div>

        
      </div>
    </div>
  </div>
</div>
<div id="contacto" class="lg:h-screen scroll-smooth snap-start bg-gray-100">
  <app-footer></app-footer>
</div>
</div>
