 
   <swiper [slidesPerView]="1" class="bg-cyan-700" [spaceBetween]="50" [navigation]="true" [navigation]="true" [pagination]="{ clickable: true }"
   [loop]="true" [autoplay]="{delay: 2000}">

   <ng-template *ngFor="let foto of data[step].imageswebpages" swiperSlide >
    <div class="picsum-img-wrapper">
        <img src="../../../assets/photo/{{data[step].url}}/{{foto.name}}.png" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <p class="bg-white rounded-md w-auto text-black font-bold">{{foto.des}}</p>
   
     </div>
</ng-template>
   <!-- <ng-template *ngFor="let step of data" >
     <div class="relative">

       <div style="background-image:url(../../../assets/opinion/{{step.no}}.jpg)"
         class="bg-cover bg-center v-60 h-60" alt="table-chair"> </div>
       <div
         class="absolute bottom-4 sm:bottom-10 inset-x-4 sm:inset-x-10 p-6 bg-white flex flex-col justify-start items-start">
         <div>
           <p class="text-2xl font-semibold leading-6 text-gray-800">{{step.name}}</p>
         </div>
       </div>
     </div>

   </ng-template> -->

 </swiper>