 
    <ngb-carousel class="bg-black">
        <ng-template *ngFor="let foto of data[step].imageswebpages" ngbSlide >
            <div class="picsum-img-wrapper">
                <img src="../../../assets/photo/{{data[step].url}}/{{foto.name}}.png" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
              <p class="bg-white rounded-md w-auto text-black font-bold">{{foto.des}}</p>
           
             </div>
        </ng-template>
    </ngb-carousel>