<swiper 
  *ngIf="zoom==false" 
  [slidesPerView]="1" 
  [spaceBetween]="50" 
  [navigation]="true" 
  [navigation]="true"
  [loop]="true" 
  [autoplay]="{delay: 3000}"
>
  <ng-template *ngFor="let foto of data[step].imageswebpages;let i = index" swiperSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/photo/{{data[step].url}}/{{foto}}.png" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <p class="w-auto p-1 text-base border border-gray-500 text-center font-medium z-50">
        {{i+1}}. {{data[step].url+"Images"+(i+1) | translate}}</p>
    </div>
  </ng-template>
</swiper>

<div *ngIf="zoom==true" class=" fixed z-[100] w-screen h-screen flex justify-center items-center">
  <a href="details/{{data[step].url}}" class="fixed w-screen h-screen opacity-30 bg-white"></a>
  <div class="relative z-[110] w-[99%] sm:w-[90%] tablet lg:w-[78%] bg-backgroundLabel text-textColorLabel rounded-md">
    <a href="details/{{data[step].url}}" class="absolute top-2 right-2 z-[120] bg-backgroundLabel">
      <app-iconsvg iconname="collapse" />
    </a>
    <swiper  
      [slidesPerView]="1" 
      [spaceBetween]="50" 
      [navigation]="true" 
      [navigation]="true"
      [loop]="true" 
      [autoplay]="{delay: 3000}"
      class="w-full"
    >
      <ng-template *ngFor="let foto of data[step].imageswebpages, let i = index" swiperSlide>
        <div class=" w-full p-4 text-start font-medium uppercase">
          {{i+1}}. {{data[step].url+"Images"+(i+1) | translate}}
        </div>
        <img  class="w-full" src="../../../assets/photo/{{data[step].url}}/{{foto}}.png" />
      </ng-template>
    </swiper>
  </div>
</div>